@import "tailwindcss";

@theme {
  --color-blue-gray: #e5ebf1;
  --color-space-blue: #afcbeb;
  --color-space-blue-light: #c8ddf5;
  --color-lavender-gray: #d4cfe6;
  --font-display: SFMono-Regular, Consolas, "Fira Code", "Source Code Pro",
    Menlo, monospace;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
/* font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace; */
